/* Base styles for cursor */
.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #95c11e;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.3s ease; /* Smooth transition */
}
  
  /* The blur effect around the cursor */
.cursor-blur {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(149, 193, 30, 0.5); /* Slightly transparent */
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease; /* Smooth transition */
    z-index: 9998;
}
  
  /* Hover effect for navigation items */
#nav h4 {
    cursor: pointer;
    transition: color 0.3s ease;
    overflow-x: hidden;
}
#nav h4:hover {
    color: #95c11e;
}


/* Spinner styling */
.spinner {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;  /* Increased size for better visibility */
  height: 24px; /* Increased size for better visibility */
  animation: spin 1s linear infinite;  /* Adjust animation speed */
  margin-right: 10px; /* Space between the spinner and the text */
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

