/* Base styles for cursor */
.cursor {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #95c11e;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.3s ease; /* Smooth transition */
  }
  
  /* The blur effect around the cursor */
  .cursor-blur {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(149, 193, 30, 0.5); /* Slightly transparent */
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease; /* Smooth transition */
    z-index: 9998;
  }
  
  /* Hover effect for navigation items */
  #nav h4 {
    cursor: pointer;
    transition: color 0.3s ease;
    overflow-x: hidden;
  }
  #nav h4:hover {
    color: #95c11e;
  }
  